*{margin: 0;
padding: 0;
}
.heading{
margin-top: 90px;
    text-align: center;

}
.container{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100vw;
    flex-direction: column;
}
.button{
    padding: 20px;
    margin: 2px;
    border: solid black 3px;
border-radius: 13px;

}
.input{

    margin-bottom: 20px;
    padding: 6px 25px;
font-size: 17px;
}